.bsh-wrapper {
  text-align: left;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #111;
  max-width: 300px;
}
.bsh-room-wrapper {
  background-color: rgba(128, 128, 128, 0.2);
  padding: 0.5em;
  margin-bottom: 0.5em;
}
.bsh-room-title {
  color: #fff;
  display: flex;
  overflow: hidden;
  margin-bottom: 4px;
  align-items: center;
}
.bsh-title-left {
  flex-grow: 4;
}
.bsh-room-icon {
  margin-right: 4px;
}

.bsh-badge {
  font-size: 0.6em;
  padding-left: 4px;
  padding-right: 4px;
}

.bsh-badge.climate-control {
  padding-top: 3px;
  padding-bottom: 3px;
}

.bsh-badge.climate-control.bsh-eco {
  color: #fff;
  background-color: #4682b4;
}
.bsh-badge.climate-control.bsh-comfort {
  color: #fff;
  background-color: #dc4c4c;
}
.bsh-badge.climate-control.bsh-manual {
  color: #fff;
  background-color: #884ea0;
}

.bsh-tiles {
  margin: auto;
  font-size: 0.9rem;
  line-height: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 4px;
}
.bsh-tile i {
  margin-right: 0.25rem;
}
.bsh-tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #aaa;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.bsh-badge i.icon-only {
  font-size: 1.5em;
}

.bsh-tile.tile-row {
  grid-column: 1 / span 3;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-top: 4px;
}

.bsh-tile.temperature-level span.setpoint-temperature {
  font-size: 1.8rem;
}

.bsh-tile.temperature-level span.room-temperature {
  font-size: 1.8rem;
  font-weight: bold;
}
.bsh-tile.airquality {
  padding-left: 3px;
  padding-right: 3px;
  color: #000;
}

.bsh-tile.airquality.GOOD {
  background-color: #239b56;
}
.bsh-tile.airquality.MEDIUM {
  background-color: #bdb76b;
}
.bsh-tile.airquality.BAD {
  color: #fff;
  background-color: #dc4c4c;
}

/*
  Chart styles
*/
.gauge-mask {
  position: relative;
  overflow: hidden;
  display: block;
  width: 6rem;
  background-color: unset;
  padding-top: 2px;
  font-size: 0.8rem;
}

.gauge-semi-circle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  display: block;
  width: 4rem;
  height: 70%;
  margin-left: -2rem;
  background: rgba(255, 255, 255, 1);
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}

.gauge-semi-circle-bar--mask {
  display: none;
}
.gauge-mask.bar .gauge-semi-circle-bar--mask {
  display: inline-block;
  border-left: 3px solid white;
  height: 100%;
  position: absolute;
  right: 0;
  padding-left: 0px;
  padding-right: 0px;
}

.bar > .gauge-semi-circle::before {
  content: none;
}
.gauge-mask.bar .gauge-semi-circle {
  border-radius: unset;
  height: 100%;
  min-height: 1rem;
  max-height: 1.4rem;
}
.bar > .gauge-semi-circle--mask {
  display: none;
}
.bar > .gauge-data {
  background: rgba(255, 255, 255, 1);
  position: unset;
  line-height: 30px;
}

.gauge-semi-circle--mask {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 6rem;
  height: 6rem;
  background: transparent;
  transform-origin: center center;
  backface-visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.gauge-semi-circle--mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 6rem;
  height: 3rem;
  margin: -1px 0 0 -1px;
  background: rgba(242, 242, 242, 1);
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}

.gauge-data {
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s ease-out;
  text-align: center !important;
  line-height: 25px;
}

.gauge-semi-circle {
  position: relative;
  display: block;
  width: 6rem;
  height: 100%;
  min-height: 3rem;
  background: linear-gradient(to right, #c0392b 0%, #f1c40f 50%, #1abc9c 100%);
  border-radius: 50% 50% 50% 50% / 100% 100% 0 0;
}

.gauge-semi-circle.humidity {
  background: linear-gradient(
    to right,
    #c0392b 0%,
    #f1c40f 15%,
    #1abc9c 50%,
    #f1c40f 85%,
    #c0392b 100%
  );
}

.gauge-semi-circle.temperature {
  background: linear-gradient(to right, #4682b4 0%, #c0392b 100%);
}

.gauge-semi-circle.purity {
  background: linear-gradient(to right, #1abc9c 0%, #f1c40f 75%, #c0392b 100%);
}
