.bsh-wrapper {
  background-color: #ccc;
  padding-left: 0.6rem;
  padding-top: -2px;
  padding-bottom: 6px;
  padding-right: 4px;
  margin-top: -0.5em;
  text-align: left;
  font-size: 1rem;
  color: #111;
}
.bsh-err {
  color: #111;
  font-size: 0.7rem;
}
.bsh-err i {
  margin-right: 5px;
}
.bsh-err h3 {
  margin-bottom: -2em;
}

.bsh-room-title {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
}
.bsh-room-name {
  flex-grow: 4;
}
.bsh-room-wrapper {
  margin-bottom: 0.1em;
}

.bsh-room-icon {
  margin-right: 4px;
}

.bsh-room-badge > i {
  margin-left: 1px;
  margin-right: 1px;
  padding: 2px;
}

.bsh-temperatures {
  margin-top: -0.4em;
  display: flex;
  justify-content: stretch;
  font-size: 0.9rem;
  line-height: 1rem;
}

.bsh-temperature {
  background-color: #aaa;
  padding: 6px;
  margin-right: 4px;
}

.bsh-temperature > i {
  margin-left: 4px;
}

.bsh-temperatures-messured {
  flex-grow: 4;
}

.bsh-temperatures-target > i {
  font-size: 12px;
}

.bsh-temperatures-target {
  background-color: #888;
  min-width: 3em;
  text-align: center;
}

.bsh-comfort .bsh-temperatures-target {
  color: #fff;
  background-color: #dc4c4c;
}

.bsh-eco .bsh-temperatures-target {
  color: #fff;
  background-color: #1f456e;
}
