{% import "templates/badges/Shutter.njk" as shutterBadge with context %}
{% import "templates/badges/_Badge.njk" as badge with context %}

{% macro render(room) %}
  <span class="bsh-icon-badges">
    {{ shutterBadge.render(room) }}

    {% set hueDevices = utils.getSwitchedOnHueDevices(room.devices) %}
    {% if hueDevices.length > 0 %}
      {{ badge.render('<i class="far fa-lightbulb icon-only"></i>') }}
    {% endif %}

    {% set lowBatteryDevices = utils.getLowBatteryDevices(room.devices) %}
    {% if lowBatteryDevices.length > 0 %}
      {{ badge.render('<i class="fas fa-battery-quarter icon-only"></i>') }}
    {% endif %}
  </span>
{% endmacro %}
