{% import "templates/badges/_Badge.njk" as badge %}

{% macro render(room, utils) %}
  {% if utils.getOpenShutters(room.devices).length > 0 %}
    {{ badge.render('<i class="fas fa-wind"></i>') }}
  {% endif %}
{% endmacro %}
