{% import "templates/badges/_Badge.njk" as badge %}

{% macro render(room, utils) %}
  {% if utils.hasOpenShutters(room.devices) %}
    {{ badge.render('<i class="fas fa-wind"></i>') }}
  {% endif %}
{% endmacro %}
