{% import "templates/tiles/_Tile.njk" as tile %}

{% macro render(room, utils) %}
  {% set airQualityService = utils.getAirQualityService(room.devices) %}
  {% if airQualityService %}
    <div class="bsh-tile airquality {{airQualityService.state.purityRating}}">
      <i class="fas fa-lungs"></i>{{airQualityService.state.purity}}ppm
    </div>
    <div class="bsh-tile airquality {{airQualityService.state.temperatureRating}}">
      <i class="fas fa-thermometer"></i>${{airQualityService.state.temperature}}°C
    </div>
    <div class="bsh-tile airquality {{airQualityService.state.humidityRating}}">
      <i class="fas fa-tint"></i>{{airQualityService.state.humidity}}%
    </div>
  {% endif %}
{% endmacro %}
