{% import "templates/tiles/_Tile.njk" as tile with context %}

{% macro render(room) %}
  {% if not utils.isHidden(room, "temperatureLevel", config) %}
    {% set climateControlService = utils.getClimateControlService(room.devices) %}
    {% set temperatureLevelService = utils.getTemperatureLevelService(room.devices) %}
    {% if climateControlService and temperatureLevelService %}

      <div class="bsh-tile temperature tile-row">
        <div>
        {{ "TEMPERATURE_IS" | translate | safe}} <span class="room-temperature"> {{ temperatureLevelService.state.temperature }}°C</span>
        </div>
        <div>
        {{ "TEMPERATURE_TARGET" | translate | safe }} <span class="setpoint-temperature">{{ climateControlService.state.setpointTemperature }}°C {{ icon | safe}}</span>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endmacro %}
