{% macro render(room) %}
  {% if not utils.isHidden(room, "temperatureLevel", config) %}
    {% set climateControlService = utils.getClimateControlService(room.devices) %}
    {% set temperatureLevelService = utils.getTemperatureLevelService(room.devices) %}
    {% if climateControlService and temperatureLevelService %}
    {% if (config.temperatureLevel.displayCurrentTemperature and config.temperatureLevel.displayTargetTemperature and not climateControlService.state.summerMode) or (config.temperatureLevel.forceRowTile) %}
      {% set tileStyle = "tile-row" %}
    {% else %}
      {% set tileStyle = "" %}
    {% endif %}

      <div class="bsh-tile temperature-level {{ tileStyle}}">
        {% if config.temperatureLevel.displayCurrentTemperature %}
          <div>
            {{ "TEMPERATURE_IS" | translate | safe}} <span class="room-temperature"> {{ temperatureLevelService.state.temperature }}°C</span>
          </div>
        {% endif %}
        {% if config.temperatureLevel.displayTargetTemperature and not climateControlService.state.summerMode %}
        <div>
          {{ "TEMPERATURE_TARGET" | translate | safe }} <span class="setpoint-temperature">{{ climateControlService.state.setpointTemperature }}°C {{ icon | safe}}</span>
        </div>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
{% endmacro %}
