{% import "templates/tiles/Temperature.njk" as temperature %}
{% import "templates/tiles/Thermostats.njk" as thermostats %}
{% import "templates/tiles/AirQuality.njk" as airquality %}
{% import "templates/tiles/Dishwasher.njk" as dishwasher %}

{% macro render(room, config, utils) %}
  <div class="bsh-tiles">
    {{ temperature.render(room, config, utils) }}
    {{ airquality.render(room, config, utils) }}
    {{ thermostats.render(room, config, utils) }}
    {{ dishwasher.render(room, config, utils) }}
  </div>
{% endmacro %}
