{% import "templates/Room.njk" as roomTemplate %}

{% if rooms and rooms.length > 0%}
<div class="normal medium bsh-wrapper" style="max-width: {{config.width}};">
  {% for room in rooms %}
    {{ roomTemplate.render(room, config, utils)}}
  {% endfor %}
</div>
{% else %}
  <div class="dimmed light small">
    {{ "LOADING" | translate | safe }}
  </div>
{% endif %}
